<!--<article>
  <img src="photos/<%- image %>.jpg">
  <h3><%- titre %></h3>
  <address><%- adresse %></address>
  <div class="like">
    <label class="custom-checkbox">
      <input type="checkbox" />
      <i class=" fa  far fa-heart icon-background2  unchecked"></i>
      <i class="fa  fas fa-heart icon-background1 checked"></i>
    </label>
  </div>
</article>
-->


  <article class="card">
    <figure>
      <img src="photos/<%- image %>.jpg"></figure>
      <div class="card__info">
        <hgroup>
          <h3><%- titre %></h3>
          <address><%- adresse %></address>
        </hgroup>
        <!-- <div class="like">
          <label class="custom-checkbox">
            <input type="checkbox" />
            <i class=" fa  far fa-heart icon-background2  unchecked"></i>
            <i class="fa  fas fa-heart icon-background1 checked"></i>
          </label> -->
          
          <i class="far fa-heart"></i>
        
        </div>
      </div>
    </article>
    