.title__logo{
  display:flex;
  justify-content:space-around;
  align-items: baseline;

}

i.fa-arrow-left{
  font-size:30px;
  margin-right:100px;

 
}
img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 20px;
    
   
    
  }
  .card__info{
    display: flex;
    justify-content: space-between;
    position: relative;;
    
         
    }

    header{
        height:auto;
        background-color: white;
    }