@import "../src/partials/utils/mixins.scss";



header{
    background-color: lighten($tertiary, 20);
    
    
  }
  /**
  header{
    background-color: lighten($tertiary, 20);
    height: 300px;
    
  }**/
  
  
  .logo{
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
  }
  .place{
    display:flex;
    background-color: darken($tertiary, 10);
    justify-content: center;
    padding:10px;
  }
  .fas{
    margin-right:10px;
  }
  .accroche_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:30px;
    justify-content: space-between;
    height:175px;
    
  }
  
  /**
  a{
   color:black;
   text-decoration: none;
  }
  **/
  .btn{
    display: flex;
    align-content: flex-end;
    font-size: 17px;
    padding:10px;
    margin-top: 20px;
    color: white;
    border-radius: 20px;
    @include gradient-vertical($secondary, $primary);
    
    &:hover{
        @include gradient-vertical($secondary, $primary)
    }
    
  }
  .descript{
    font-size: 25px;
  }
  .menu__descript{
    height: 200px;
    padding-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .btn__menu{
    display: flex;
    align-items: center;
    border-radius: 20px;
    width:300px;
    justify-content:center;
    border: 1px solid darken($tertiary, 20);
    height:50px;
    background-color: lighten($tertiary, 20);
    
    .circle { 
        height: 20px; 
        width: 20px; 
        background: lighten($primary, 5);
        text-align: center;
        border-radius: 50%; 
        
        
    
    }
  }
.fas{
  color:gray;
  padding:10px;
}
  // .fas:hover{
  //   color:lighten($primary, 5)
  // }
  


@media screen and  (min-width: 900px) {

.menu__descript{
  
  flex-direction: row;
  justify-content: space-around;
  
 


}
// .btn__menu{
//   justify-content: space-around;
// }
}