<header>
      
    <div class="place">
        <i class="fas fa-map-marker-alt"></i>Paris, Belleville
    </div>
    <div class="accroche_title">
        <p>Réservez le menu qui vous convient</p>
        <p>Découvrez des restaurants d'exception, sélectionnés par nos soins.</p>
        
    <button class="btn">Explorer nos restaurants</button>
    </div>
    <h3 class="descript">Fonctionnement</h3>
    <nav class="menu__descript">
      <div class="btn__menu"><div class="circle">1</div><i class="fas fa-mobile-alt"></i>Choisissez un restaurant</div>
      <div class="btn__menu"><div class="circle">2</div><i class="fas fa-list-ul"></i>Composez votre menu</div>
      <div class="btn__menu"><div class="circle">3</div><i class="fas fa-store"></i>Dégustez votre menu</div>
    </nav>
  </header>