img{
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 20px;
    
  }
  .card__info{
    display: flex;
    justify-content: space-between;
    position: relative;;
    
         
    }

    header{
        height:auto;
    }