
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
  <script src="https://kit.fontawesome.com/a528402c70.js" crossorigin="anonymous"></script>
  <title>A la française</title>
</head>

<body>




<%- include('../partials/header/header2.html',{
    "image" : "toa-heftiba-DQKerTsQwi0-unsplash",
    "titre":"A la Française",
    "adresse" : "Cité rouge",
  }); %>
<section>

    <h5>Entrées</h5>
<aside>

  <%- include('../partials/menu/menu.html',{
    "plat":"Tartare de poulpe acidulé",
    "info" : "Aux zestes d'orange",
    "price"  : "25€"
  }); %>


<%- include('../partials/menu/menu.html',{
    "plat":"Velouté de légumes d'antan",
    "info" : "Carotte, panais, topinambour",
    "price"  : "35€"
  }); %>

    <%- include('../partials/menu/menu.html',{
        "plat":"Soupe à l'oignon",
        "info" : "Revisitée",
        "price"  : "20€"
      }); %>
    
    </aside>
    <h5>Plats</h5>
    <aside>
        <%- include('../partials/menu/menu.html',{
            "plat":"Coquilles Saint-Jacques",
            "info" : "Accompagnées d'une purée de panais",
            "price"  : "40€"
          }); %>
        
        
        <%- include('../partials/menu/menu.html',{
            "plat":"Magret de canard",
            "info" : "Et parmentier de pommes de terre",
            "price"  : "35€"
          }); %>
        
            <%- include('../partials/menu/menu.html',{
                "plat":"Pigeonneau d’Ille-et-Vilaine",
                "info" : "Sur son lit de gnocchis aux légumes",
                "price"  : "44€"
              }); %>


    </aside>
    <h5>Desserts</h5>
<aside>

    <%- include('../partials/menu/menu.html',{
        "plat":"Pétales de violettes glacés",
        "info" : "Et purée de noisettes",
        "price"  : "18€"
      }); %>
    
    
    <%- include('../partials/menu/menu.html',{
        "plat":"Fondant au chocolat",
        "info" : "Revisité",
        "price"  : "22€"
      }); %>
    
        <%- include('../partials/menu/menu.html',{
            "plat":"Millefeuille croustillant",
            "info" : "Myrtilles et pâte d’amande",
            "price"  : "23€"
          }); %>


</aside>

<%- include('../partials/footer/footer.html'); %>
</section>

</body>
</html>