<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
  <script src="https://kit.fontawesome.com/a528402c70.js" crossorigin="anonymous"></script>
  <title>La note enchantée</title>
</head>
<body>
  
  <%- include('../partials/header/header2.html',{
    "image" : "louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash",
    "titre":"Le délice des sens",
    "adresse" : "Cité rouge",
  }); %>
<section>

    <h5>Entrées</h5>
<aside>

  <%- include('../partials/menu/menu.html',{
    "plat":"Tartare de thon",
    "info" : "Assaisonné au yuzu",
    "price"  : "25€"
  }); %>


<%- include('../partials/menu/menu.html',{
    "plat":"Bouchée de homard croustillant",
    "info" : "Et sa farandole de petits légumes",
    "price"  : "35€"
  }); %>

    <%- include('../partials/menu/menu.html',{
        "plat":"Velouté de cèpes ",
        "info" : "Aux truffes",
        "price"  : "20€"
      }); %>
    
    


    </aside>
    <h5>Plats</h5>
    <aside>
        <%- include('../partials/menu/menu.html',{
            "plat":"Poulet rôti aux herbes de Provence",
            "info" : "Et sa crème de truffe",
            "price"  : "40€"
          }); %>
        
        
        <%- include('../partials/menu/menu.html',{
            "plat":"Langouste rôtie",
            "info" : "Et ses légumes de saison",
            "price"  : "35€"
          }); %>
        
            <%- include('../partials/menu/menu.html',{
                "plat":"Côte de boeuf Angus",
                "info" : "Et sa purée de panais",
                "price"  : "44€"
              }); %>


    </aside>
    <h5>Desserts</h5>
<aside>

    <%- include('../partials/menu/menu.html',{
        "plat":"Farandole de desserts",
        "info" : "Du chef",
        "price"  : "18€"
      }); %>
    
    
    <%- include('../partials/menu/menu.html',{
        "plat":"Crème brulée",
        "info" : "Revisitée",
        "price"  : "22€"
      }); %>
    
        <%- include('../partials/menu/menu.html',{
            "plat":"Tiramisu",
            "info" : "À la noisette",
            "price"  : "23€"
          }); %>


</aside>

<%- include('../partials/footer/footer.html'); %>
</section>

  
</body>
</html>