// i.fa-heart{
// //  width: 4rem;
// //  height: 4rem;
// font-size:20px;

//  display: flex  !important;
//  justify-content: center;
// align-items: center;   
//  background: -webkit-linear-gradient($primary,white );
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   &:hover{
//       font-weight: bold;
//       background-position-y:  4rem;
//       animation: position 2s forwards;
//   }
// }

// @keyframes position{

//     from{
//         background-position-y: 3.5rem;
//         // background-position-y: 8rem;
//     }
//     to{
//         background-position-y: 5.5rem;
//         // background-position-y:8rem;
//     }
// }


i.fa-heart{
    //  width: 4rem;
    //  height: 4rem;
    font-size:20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 2.5rem;
    color: black;
      &:hover{
     background: -webkit-linear-gradient($primary,white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
          font-weight: bold;
          background-position-y:  4rem;
          animation: position 2s forwards;
      }
    }
    
    @keyframes position{
    
        from{
            background-position-y: 4rem;



            // background-position-y: 8rem;
        }
        to{
            background-position-y: 2.75rem;



            // background-position-y:8rem;
        }
    }






    // i.fa-heart{
    //     //  width: 4rem;
    //     //  height: 4rem;
    //     font-size:20px;
    //     padding-right:25px;
    //      display: flex  !important;
    //      justify-content: center;
    //     align-items: center;   
    //     color:white;
    //       &:hover{
             
    //              color:$primary;
    //              cursor:pointer;
    //              animation: coeur 1s ease-out;
                
                
                
    //              }}
                
    //             @keyframes coeur{
    //                 0%{opacity: 0;}
    //                 50%{opacity: 0.5;}
    //                 100%{opacity:1;}
                
    //             }
                
    //             // .fa.fas.fa-heart{
    //             //     position:absolute;
                    
    //             //     color:$primary;
    








// .fa-heart{
//  color:$primary;
//  cursor:pointer;
//  transition: color 1s ease-out;



//  }

// @keyframes coeur{
//     0%{opacity: 0;}
//     50%{opacity: 0.5;}
//     100%{opacity:1;}

// }

// // .fa.fas.fa-heart{
// //     position:absolute;
    
// //     color:$primary;
    
    
// // }



// // .fa.far.fa-heart{
// //     position: absolute;
// //     color:white;
// //     font-size: 25px;
// //     left:2px;
// //     top:2px;
    
// // }


// // .fa.far.fa-heart:hover{
// //     cursor: pointer;
// //     transition: color 1s ease-out;
// //     color:$primary;
// //     position: absolute;
    

    
// // 
