@import "../src/partials/utils/mixins.scss";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}


$primary: #9356DC;
$secondary: #FF79DA;
$tertiary : #99E2D0;
$radius:border-radius 20px;


body{
 
  margin:auto;
  font-family: 'roboto', sans-serif;
  // background-color:lighten($tertiary, 20);
  max-height: auto;
 
  
}


a{
  color:black;
  text-decoration: none;
}


/**


header{
  background-color: lighten($tertiary, 20);
  height: 300px;
  
}


.logo{
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
}
.place{
  display:flex;
  background-color: darken($tertiary, 10);
  justify-content: center;
  padding:10px;
}
.fas{
  margin-right:10px;
}
.accroche_title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:30px;
  justify-content: space-between;
  height:175px;
  
}

/**
a{
 color:black;
 text-decoration: none;
}
**
.btn{
  display: flex;
  align-content: flex-end;
  font-size: 17px;
  padding:10px;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
  @include gradient-vertical($secondary, $primary);
  
  &:hover{
      @include gradient-vertical($secondary, $primary)
  }
  
}
.descript{
  font-size: 25px;
}
.menu_descript{
  height: 200px;
  padding-top:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.btn_menu{
  display: flex;
  align-items: center;
  border-radius: 20px;
  width:100%;
  justify-content:center;
  border: 1px solid darken($tertiary, 20);
  height:50px;
  background-color: lighten($tertiary, 20);
  
  .circle { 
      height: 20px; 
      width: 20px; 
      background: lighten($primary, 5);
      text-align: center;
      border-radius: 50%; 
      
      
  
  }
}

**/

// .fas:hover{
//   color: lighten($primary, 5);
  
// }

// .custom-checkbox input[type="checkbox"],
// .custom-checkbox .checked {
//     display: none;
// }

// .custom-checkbox input[type="checkbox"]:checked ~ .checked
// {
//     display: inline-block;
    
    
// }

// .custom-checkbox input[type="checkbox"]:checked ~ .unchecked
// {
//     display: none;
    
// }



// .fa.fas.fa-heart{
//     position:absolute;
//     color:$primary;
    
    
// }



// .fa.far.fa-heart{
//     position: absolute;
//     color:white;
//     font-size: 25px;
//     left:2px;
//     top:2px;
    
// }
// .fa.far.fa-heart:hover{
//   cursor: pointer;
//   transition: color 1s ease-out;
//   color:$primary;
//   position: absolute;
  
  
  
// }
// .like{
//   position: relative;
 
  
  
  
  
// }

// .fa-heart{
//   font-size:30px;
//   color:$primary;
// }


.card{
  
  height:300px;
  background-color: white;
  border-radius: 20px;
  
  
}

figcaption{
  margin-top:20px;
  font-weight: bold;
  color:black;
}
img{
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 20px;
  
}

// section{
//   height:auto;
//   margin-top:40px;
// 

@media screen and  (min-width: 600px) {

  .grid-container{
    display:grid;
    grid-template-columns: 1fr;
    gap:40px;
  }
  // .menu__details{
  //   flex-wrap: wrap;
  //   align-content:flex-start;
  //   flex-direction: column;
  // }
  // .Plat__info{
  //   flex-direction: column;
  // }
  }

@media screen and  (min-width: 900px) {

.grid-container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:40px;
}
.footer__info{
margin-left: auto;

}
}



.menu__item{
  background-color:lighten($tertiary, 20);
  border-radius: 15px 15px 0px 0px;
  margin-top: -50px;
  padding:20px;
  margin-bottom:20px;
}

.title__item{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
}