/**
 *
 * This mixin will permit to display a colored background image following the 
 * browser capacity, if not any an alternative image is displayed. If not any alternative
 * image is given, the image is used as alternative as well 
 */
body {
  max-width: 400px;
  margin: auto;
  font-family: 'roboto', sans-serif;
  background-color: #e8f9f5;
  max-height: auto; }

a {
  color: black;
  text-decoration: none; }

/**


header{
  background-color: lighten($tertiary, 20);
  height: 300px;
  
}


.logo{
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
}
.place{
  display:flex;
  background-color: darken($tertiary, 10);
  justify-content: center;
  padding:10px;
}
.fas{
  margin-right:10px;
}
.accroche_title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:30px;
  justify-content: space-between;
  height:175px;
  
}

/**
a{
 color:black;
 text-decoration: none;
}
**
.btn{
  display: flex;
  align-content: flex-end;
  font-size: 17px;
  padding:10px;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
  @include gradient-vertical($secondary, $primary);
  
  &:hover{
      @include gradient-vertical($secondary, $primary)
  }
  
}
.descript{
  font-size: 25px;
}
.menu_descript{
  height: 200px;
  padding-top:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.btn_menu{
  display: flex;
  align-items: center;
  border-radius: 20px;
  width:100%;
  justify-content:center;
  border: 1px solid darken($tertiary, 20);
  height:50px;
  background-color: lighten($tertiary, 20);
  
  .circle { 
      height: 20px; 
      width: 20px; 
      background: lighten($primary, 5);
      text-align: center;
      border-radius: 50%; 
      
      
  
  }
}

**/
.fas:hover {
  color: #a16be0; }

.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {
  display: none; }

.custom-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block; }

.custom-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none; }

.fa.fas.fa-heart {
  position: absolute;
  color: #9356DC; }

.fa.far.fa-heart {
  position: absolute;
  color: white;
  font-size: 25px;
  left: 2px;
  top: 2px; }

.fa.far.fa-heart:hover {
  cursor: pointer;
  transition: color 1s ease-out;
  color: #9356DC;
  position: absolute; }

.like {
  position: relative; }

.fa-heart {
  font-size: 30px;
  color: #9356DC; }

.card {
  height: 300px;
  background-color: white;
  border-radius: 20px; }

figcaption {
  margin-top: 20px;
  font-weight: bold;
  color: black; }

img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 20px; }

section {
  height: auto; }

footer {
  background-color: black;
  color: white;
  margin-bottom: auto; }
  footer h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 20px; }

ul {
  list-style-type: none; }

/**
 *
 * This mixin will permit to display a colored background image following the 
 * browser capacity, if not any an alternative image is displayed. If not any alternative
 * image is given, the image is used as alternative as well 
 */
header {
  background-color: #e8f9f5; }

/**
  header{
    background-color: lighten($tertiary, 20);
    height: 300px;
    
  }**/
.logo {
  display: flex;
  justify-content: center;
  color: black;
  font-family: 'Shrikhand', cursive;
  font-size: 30px; }

.place {
  display: flex;
  background-color: #71d7be;
  justify-content: center;
  padding: 10px; }

.fas {
  margin-right: 10px; }

.accroche_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  justify-content: space-between;
  height: 175px; }

/**
  a{
   color:black;
   text-decoration: none;
  }
  **/
.btn {
  display: flex;
  align-content: flex-end;
  font-size: 17px;
  padding: 10px;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
  background-color: #d46bdb;
  background-image: -moz-linear-gradient(top, #FF79DA, #9356DC);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF79DA), to(#9356DC));
  background-image: -webkit-linear-gradient(top, #FF79DA, #9356DC);
  background-image: -o-linear-gradient(top, #FF79DA, #9356DC);
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF79DA', endColorstr='#FF9356DC', GradientType=0); }
  .btn:hover {
    background-color: #d46bdb;
    background-image: -moz-linear-gradient(top, #FF79DA, #9356DC);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF79DA), to(#9356DC));
    background-image: -webkit-linear-gradient(top, #FF79DA, #9356DC);
    background-image: -o-linear-gradient(top, #FF79DA, #9356DC);
    background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF79DA', endColorstr='#FF9356DC', GradientType=0); }

.descript {
  font-size: 25px; }

.menu_descript {
  height: 200px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.btn_menu {
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  justify-content: center;
  border: 1px solid #4acbab;
  height: 50px;
  background-color: #e8f9f5; }
  .btn_menu .circle {
    height: 20px;
    width: 20px;
    background: #a16be0;
    text-align: center;
    border-radius: 50%; }

img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 20px; }

.card__info {
  display: flex;
  justify-content: space-between; }

header {
  height: auto; }

.plat__info {
  border: 1px solid gray;
  margin-top: 10px;
  box-shadow: 1px 1px 2px;
  border-radius: 10px;
  height: 60px;
  width: 400px;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  justify-content: space-between;
  /**align-self:flex-end;**/
  /**
   h4{
      
     /**
      text-overflow: ellipsis;
      white-space: nowrap;**/
  padding: 1px; }

.price {
  /** display:flex;**/
  /**flex-direction: column;**/
  /**align-content:flex-end;**/
  font-size: 1.125rem;
  font-weight: bold;
  /** align-items: flex-end;**/
  /** align-self: baseline;***/
  /**padding-left: 200px;**/
  /**white-space: nowrap;**/
  align-self: flex-end;
  margin-left: auto;
  padding-right: 5px;
  /**  left:50px;**/
  /**  left:50px;**/ }

hgroup {
  line-height: 0px; }

.font {
  display: none;
  border: 2px solid #99E2D0;
  background-color: #71d7be;
  border-radius: 10px;
  padding: 10px;
  transform: translateX(70px);
  /**text-overflow: ellipsis;
    white-space: nowrap;**
    justify-content: center;
    align-items: center;
   
    /**transition: transform 330ms ease-in-out;**/ }
  .font .fa-check-circle {
    font-size: 30px;
    color: white; }

.info {
  font-size: 10px;
  color: black;
  padding: 0px; }

@keyframes checkbox {
  0% {
    transform: translate(0px, 0); }
  20% {
    transform: translate(7px, 0); }
  40% {
    transform: translate(20px, 0); }
  60% {
    transform: translate(15px, 0); }
  80% {
    transform: translate(7px, 0); }
  100% {
    transform: translate(1px, 0); } }

@keyframes wrench {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  30% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  30% {
    -webkit-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg); }
  50% {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  60% {
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg); }
  65% {
    -webkit-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    transform: rotate(-80deg); }
  75% {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  85% {
    -webkit-transform: rotate(-100deg);
    -ms-transform: rotate(-100deg);
    transform: rotate(-100deg); }
  100% {
    -webkit-transform: rotate(-110deg);
    -ms-transform: rotate(-110deg);
    transform: rotate(-110deg); } }

.plat__info:hover .font {
  display: flex;
  -webkit-animation: checkbox 500ms  ease-in-out;
  animation: checkbox 500ms ease-in-out;
  transform: translateX(0px); }
  .plat__info:hover .font .fa-check-circle {
    -webkit-animation: wrench 350ms  ease-in-out;
    animation: wrench 350ms ease-in-out;
    /**transition: transform 330ms ease-in-out**/ }

.font {
  display: none;
  border: 2px solid #99E2D0;
  background-color: #71d7be;
  border-radius: 10px;
  padding: 10px;
  transform: translateX(70px);
  /**text-overflow: ellipsis;/
        white-space: nowrap;**/
  justify-content: center;
  align-items: center;
  /**transition: transform 330ms ease-in-out;**/ }
  .font .fa-check-circle {
    font-size: 30px;
    color: white; }

img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 20px; }

section {
  height: 1500px;
  border-radius: 20px;
  margin-top: 100px; }
  section h2 {
    font-size: 30px; }

article {
  height: 300px;
  background-color: white;
  border-radius: 20px; }

.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {
  display: none; }

.custom-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block; }

.custom-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none; }

.fa.fas.fa-heart {
  position: absolute;
  color: #9356DC; }

.fa.far.fa-heart {
  position: absolute;
  color: white;
  font-size: 25px;
  left: 2px;
  top: 2px; }

.fa.far.fa-heart:hover {
  cursor: pointer;
  transition: color 1s ease-out;
  color: #9356DC;
  position: absolute; }

.like {
  position: relative; }

.fa-heart {
  font-size: 30px;
  color: #9356DC; }

/**
 *
 * This mixin will permit to display a colored background image following the 
 * browser capacity, if not any an alternative image is displayed. If not any alternative
 * image is given, the image is used as alternative as well 
 */
